<%= form_with(model: mission) do |form| %>
  <% if mission.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(mission.errors.count, "error") %> prohibited this mission from being saved:</h2>

      <ul>
        <% mission.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="container my-5">
    <div class="field form-group">
      <%= form.label :Title, class:"col-sm-2 col-form-label" %>
      <%= form.text_field :title, class:"form-control" %>
    </div>

    <div class="field form-group">
      <%= form.label :Manufacturer, class:"col-sm-2 col-form-label" %>
      <%= form.text_field :manufacturer, class:"form-control" %>
    </div>

    <div class="field form-group">
      <%= form.label :website, class:"col-sm-2 col-form-label" %>
      <%= form.text_field :website, class:"form-control" %>
    </div>

    <div class="field form-group">
      <%= form.label :Description, class:"col-sm-2 col-form-label" %>
      <%= form.text_area :description, class:"form-control", rows:"5" %>
    </div>

    <div class="mt-5 d-flex justify-content-center">
      <%= form.submit %>
    </div>
  </div>
<% end %>
